:root{
    --primary-color:#317873;
    --secondary-color:white;
}

body {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(229, 253, 229);
}


h1{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

/* Header */
header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo {
    width: 10%;
    height: auto;
}

/* Nav */
nav{
    background-color: var(--primary-color);
    margin-left:5%;
    margin-right: 5%;
    border-radius:10px ;
    
}

nav ul{
    display: flex;
    list-style: none;
    text-align: center;
    color: var(--secondary-color);
    justify-content: center;
    gap: 10%;
    padding: 1%;
    font-size: 2rem;
}

nav ul li:hover{
    text-decoration: underline;
    transition: 0.3s ease-in;
    cursor: pointer;
}

/* Main */
main{
    margin-left:5%;
    margin-right: 5%;
}
/* Content */
.content{
    display: flex;
    flex-direction: column;
    gap: 5%;
    color: var(--secondary-color);
    text-align: center;
}

.content h3{
    text-decoration: underline;
}

.content #float{
    animation: float 3s ease-in-out infinite;
    display: inline-block;
}

.content .top-row{
    background-color: var(--primary-color);
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 2%;
}

.content .bottom-row{
   display: flex;
    gap: 5%;
}

.bottom-row .card{
    flex: 1;
    color: var(--primary-color);
    padding: 2%;
    border-radius: 10px;
    background-color: lightgreen;
}

.bottom-row img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius:15px;
}

.bottom-row article{
    padding: 1%;
    margin-bottom: 5%;
}

.bottom-row button{
    background-color: white;
    color: var(--primary-color);
    border-radius: 10px;
    padding: 2%;
}

.bottom-row button:hover{
    background-color: var(--primary-color);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}

.bottom-row .card:hover{
    box-shadow: 0 0 20px 5px var(--primary-color);
    transition: box-shadow 0.5s ease;
}

/* footer */
footer{
    justify-content: space-between;
    display: flex;
    padding: 1%;
    margin-left:5%;
    margin-right: 5%;
}

footer img{
    display: block;
    width: 3%;
    height: auto;
}

/* animations */

@keyframes float {
    0%,100%{
        transform: trasnlateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}